<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
    <style>
        table, th, tr, td {
            border : 2px solid black;
            border-collapse: collapse;
            padding : 5px;
            text-align: center;
        }
        input, textarea{
            border: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <th>제목</th>
                <td><input v-model="title" size="30;"></td>
            </tr>       
            <tr>
                <th>내용</th>
                <td>
                    <textarea v-model="contents" cols="30" rows="10"></textarea>
                </td>
            </tr>
        </table>
        <div>
            <button @click="fnAdd">작성</button>
        </div>
       
</div>
</body>
</html>
<script>
    var app = new Vue({
		el : '#app',
		data : {
            title : "",
            contents: "",
            userId : ""
		},
		methods : {
            fnAdd : async function(){
				var self = this;
                var str = `title=${self.title}&contents=${self.contents}&userId=${self.userId}`
                // var boardNo = document.querySelector("#boardNo").value;
                const response = await fetch(`http://localhost:3001/boardAdd.dox?${str}`);
                const jsonData = await response.json();
                if(jsonData.result == "success"){
                    alert("저장되었습니다.");
                    location.href="/boardList";
                }
                self.info = jsonData;
                console.log(self.info);
			}	
		},
		created : function() {
			// var self = this;  들어오자마자 실행할 필요없어서 사용할 필요성 없음
			// self.fnView();
		}
	});
</script>