<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
   
</head>
<body>
    <div id="app">
        <div>
            <input type="text" v-model="userId" placeholder="아이디">
        </div>
        <div>
            <input type="password" v-model="pwd" placeholder="비밀번호">
        </div>
        <div>
            <button @click="fnLogin">로그인</button>
        </div>
    </div>
</body>
</html>
<script>
    var app = new Vue({
		el : '#app',
		data : {
           userId : '',
           pwd : ''
		},
		methods : {
            fnLogin : async function(){
				var self = this;
                console.log(this.userId);
                const response = await fetch(`http://localhost:3001/login.dox?userId=${self.userId}&pwd=${self.pwd}`);
                const jsonData = await response.json();
                if(jsonData.result == "success"){
                    alert("로그인 성공");
                    location.href="/boardList";
                }
			}	
		},
		created : function() {
			 var self = this;
		}
	});
</script>